In [1]:
import pandas as pd
import numpy as np

Need to figure out how to navigate and clean initial excel sheet, convert to csv

In [2]:
'''TODO
filepath = <SOMETHINGWITHDATABASE>
'''

'TODO\nfilepath = <SOMETHINGWITHDATABASE>\n'

In [3]:
filepath = "sample.xlsx"
data_xls = pd.read_excel(filepath, index_col=None)

In [26]:
# 
data_xls.to_csv('csvfile.csv')
df = pd.read_csv('csvfile.csv', header=3, names=range(3))
specifics = df.iloc[2:5]
print(specifics)
overalls = df.iloc[7:13]
print(overalls)
table_names = ["Company Specifics", "Overall Numbers"]
groups = df[0].isin(table_names).cumsum()
tables = {g.iloc[0,0]: g.iloc[1:] for k,g in df.groupby(groups)}

   0                  1              2
2  5       Company Name         Google
3  6  Quick Description  a tech thingy
4  7       Contact Info   idk man yolo
     0                                                  1        2
7   10  Please Indicate The Amount Of Money Given By C...   300000
8   11  Please Indicate The Amount Of Money Used By Cl...  3000000
9   12  Please indicate the number of Opportunity Yout...    40000
10  13  As appropriate, please indicate the number of ...    60000
11  14         Please Indicate Number Of Youth In Program  1000000
12  15  Please Indicate Number Of Opportunity Youth ac...    30000

0                                                   12
1    Please indicate the number of Opportunity Yout...
2                                                40000
Name: 9, dtype: object